<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Log In – SkyNotes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <header class="navbar">
    <h1>SkyNotes</h1>
    <nav>
      <a href="{{ url_for('signup') }}">Sign‑Up</a>
    </nav>
  </header>

  <main class="login-main">
    {% with messages = get_flashed_messages(with_categories=false) %}
      {% if messages %}
      <div class="flash-message">
        {% for msg in messages %}
          <p>{{ msg }}</p>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
<!-- " -->
    <section class="form-container">
      <h2 class="form-title">Log In to SkyNotes</h2>
      <form  action="{{ url_for('login') }}" method="POST">
        {{ form.hidden_tag() if form else "" }}
        <label for="username">Username</label>
        <input
          type="text" id="usermail" name="usermail"
          placeholder="Enter your Usermail" required
        />

        <label for="password">Password</label>
        <input
          type="password" id="password" name="password"
          placeholder="••••••••" required
        />

        <input type="submit" value="Log In" />

        <p class="below-form">
          Don’t have an account?
          <a href="{{ url_for('signup') }}">Sign up</a>
        </p>
      </form>
    </section>
  </main>

</body>
</html>
