<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyNotes</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>

    <div class="navbar">
        <h1>SkyNotes</h1>
    </div>

    {% with message = get_flashed_messages(with_categories = false) %}
        {% if message %}
            {% for messages in message %}
            {{messages}}
            {% endfor%}
        {% endif%}
    {% endwith %}

    <div class="popup-overlay newuser"></div>

    <div class="popup-box loginpage">
        <center>
            <h2> sign-up </h2>
        <form action="" method="POST">      
            <input type="text" name='username' placeholder="First Name" class="note-title-input">
            <input type="text" name='usermail' placeholder="Gmail" class="note-title-input">
            {% if alreadysignuped %}
            <p class="error-msg"> User Already Signuped .</p>
            {% endif %}
            <input type="password" name='password' id="sign-up-pass" placeholder="Password" class="note-title-input">
            <input type="password" name='cpassword' id="sign-up-repass"  placeholder="Conform Password" class="note-title-input">
            {% if both_are_not_same %}
            <p class="error-msg"> Both password Must be same.</p>
            {% endif %}
            <button type="submit" onclick="add(event)"> Register </button>
            <a href="{{url_for('login')}}" class="forgotpassword">Already have an account?</a>
            <a href="{{url_for('home')}}" class="close"> X </a>   
        </form> 
        </center>
    </div>

</body>
</html>