<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyNotes Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="navbar">
        <h1>SkyNotes</h1>
    </div>

    {% with message = get_flashed_messages(with_categories = false) %}
        {% if message %}
            {% for messages in message %}
            {{messages}}
            {% endfor%}
        {% endif%}
    {% endwith %}

    <div class="popup-overlay newuser"></div>

    <div class="popup-box loginpage">
        <center>
            <h2> sign-up </h2>
        <form action="" method="POST" id="signup-form"  >    
              
            <input type="text" name='username' placeholder="First Name" class="note-title-input" value="{{username}}" >
            <input type="email" name='usermail' placeholder="Gmail" class="note-title-input" value="{{useremail}}" >
            
            <input type="password" name='password' id="sign-up-pass" placeholder="Password" class="note-title-input" value="{{password}}"  >
            <input type="password" name='cpassword' id="sign-up-repass"  placeholder="Confirm Password" class="note-title-input" >

            <button type="submit" id="register"> Register </button>
            <a href="{{url_for('login')}}" class="forgotpassword">Already have an account?</a>
            <a href="{{url_for('home')}}" class="close"> <img src="{{url_for('static',filename='img/close.png')}}" alt="X"> </a>   
        </form> 
        </center>
    </div>

</body>

<script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</html>